.main-page{
    display:inline-block;
}
.sports-container{
    display:flex;
    justify-content: center;
    overflow-x: scroll;
}
.header-display{
    display: flex;
    justify-content: center;
}

.sports-image{
    width: 200px;
    height:200px;
    margin: 16px;
	margin-left: 32px;
	transition: transform 0.2s ease-out;
}
.sports-image:hover {
	transform: scale(1.08);
	cursor: pointer;
}
.points-table{
    width: 100%;
    background-color: rgb(234, 245, 255);
    border-collapse: collapse;
}

.points-table ,td,th{
    border: 1px ;
    text-align: center;
    border-bottom: 1px solid #DDD;
}


