.sidebar{
    position: fixed;
    left:0px;
    bottom: 0px;
    top:60px;
    background-color: white;
    width:150px;
    z-index: 200;
    padding-top: 5px;

}
.sidebar-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-content:hover{
    background-color: rgb(236, 235, 235);
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}


.content-display{
    display:block;
    grid-template-columns:1fr ;


}